label {
  color: #666;
}

input {
  border: solid green;
  border-color: #ccc;
  border-radius: 5px;
  width: 120px;
}
.inscription_button {
  width: 400px;
  border-radius: 15px;
  background-color: #20b486;
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
}
button {
  width: auto;
  margin-left: 60px;
}
span {
  margin-left: -30px;
}
.element {
  background-color: rgba(128, 128, 128, 0.247);
  margin-left: 20px;
  margin-top: 100px;
  width: 600px;
  height: 700px;
  border-radius: 20px;
}
.picture {
  margin-top: -800px;
  width: 850px;
  height: 900px;
  margin-left: 620px;
  background-color: #20b486;
}
.element,
picture {
  display: flex;
}
.elmt {
  margin-left: 100px;
  margin-top: 200px;
}
h2 {
  text-align: center;
  margin-top: 80px;
}
input {
  width: 400px;
  border-radius: 15px;
}
.compte {
  text-align: center;
  margin-top: 50px;
}
a {
  color: red;
}
ul,
li {
  display: flex;
}
h4 {
  margin-left: 200px;
  font-family: vladimir Script;
  font-size: 38px;
}
.desc {
  margin-top: 460px;
  text-align: center;
}
.droit {
  text-align: center;
  margin-left: 400px;
  margin-top: 60px;
  color: aliceblue;
}
.logo {
  margin-left: 300px;
  margin-top: 20px;
}
