.form{
    width: 950px;
    height: 700px;
    background-color: aliceblue;
    margin-left: 220px;
    margin-top: -130px;
}
.formulaire{
    margin-left: 250px;
    margin-top: 100px;
}
input{
    border-radius: 25px;
    height: 50px;
    width: 70%;
    margin-top:-12px;
    margin-left:-20px;
}
textarea{
    border-radius: 25px;
    width:70%;
    height:200px;
    margin-left: -20px;
    margin-top:20px;
}
button{
    margin-top: 20px;
    width:60%;
    height: 50px;
}
.soumettre{
    background-color: #4CAF50;
    margin-top:10px;

}
.deco{
    margin-top: -100px;
    margin-left: 100%;
}
.decoration{
    width: 100%;
    height:200px;
}
.green{
    margin-top:-80px;
    margin-left: 130px;
}
.green2{
    margin-top: -195px;
    margin-left: 83%;
}
.container{
    background: linear-gradient(180deg, rgba(95, 223, 183, 0.1) -67.07%, #FFFFFF 18.59%, #FFFFFF 100%);
}
.deco{
    margin-left:90%;
    margin-top: px;
}